sudo: false
language: node_js
node_js:
- '0.10'
before_deploy:
- npm install ws browserify coffeeify
- mkdir -p deploy/meshblu-http/latest
- mkdir -p deploy/meshblu-http/$TRAVIS_TAG
- node_modules/.bin/browserify -s MeshbluHttp -t coffeeify index.js > deploy/meshblu-http/latest/meshblu-http.bundle.js
- gzip deploy/meshblu-http/latest/meshblu-http.bundle.js
- mv deploy/meshblu-http/latest/meshblu-http.bundle.js.gz deploy/meshblu-http/latest/meshblu-http.bundle.js
- cp deploy/meshblu-http/latest/meshblu-http.bundle.js deploy/meshblu-http/$TRAVIS_TAG/meshblu-http.bundle.js
deploy:
- provider: s3
  access_key_id: AKIAJH2D5IPIRHYJT5IA
  secret_access_key:
    secure: T1ycqhCu/cXKcLL3CL0/s7APtcgRw0COIXBAgCPA2ISVLWll05ON39Y8/ujGIodXMDSkb7jIuURQSDck0U3SlS/qBI2xycCxnIYEIZrL23VaICSexqTt/L2R4ndg86hRy7U+Qe3fxonKJvIAoO9ws/CVlHbpLhQ5RTzmnxNr4B4=
  bucket: octoblu-cdn
  region: us-west-2
  skip_cleanup: true
  local-dir: deploy
  detect_encoding: true
  upload-dir: js
  on:
    tags: true
    all_branches: true
- provider: npm
  skip_cleanup: true
  clean_up: false
  email: serveradmin@octoblu.com
  api_key:
    secure: B/fM9GvTo/9c+qglKXmJVBh/IsK6MHSRDWr9pYD4ejYExk0AEG+ZDb0+5C2Qa2dVQ+3Wn3vlphG1n7T2KnIw0lOG3UAYWqGL9lgkTef/IpfsHJWZCqV/FOuuFeaU73YW/XF1MXn2fwV/y/MPaBE6y9dkjbDa3zUYHBH1S3cimj4=
  on:
    tags: true
    all_branches: true
